<header class="header">
    <div class="header-inner container">
        <a href="/" class="header-logo text-dark">
            <img src="{{ url_for('static', path='favicon.ico') }}" alt="logo" class="header-logoImage">
            <div class="checkbox">
              <input id='theme-checkbox' name='isDarkTheme' type='checkbox' value='' checked>
              <label for='theme-checkbox'>Dark theme</label>
            </div>
        </a>
        <ul class="header-nav">
            <li class="header-navItem"><a href="about" class="text-dark">About</a></li>
            <li class="header-navItem"><a href="resume" class="text-dark">Resume</a></li>
            <li class="header-navItem"><a href="blog" class="text-dark">Blog</a></li>
        </ul>
    </div>
</header>